<header>
</header>
<div class="main-custom  ">

  <p style="font-size: 60px; margin-block-start: auto; margin-left: 120px; color: #FACA72;">
    Contact Us
  </p>

  <div class="card button-custom-name ">
    <span class="p-float-label">
      <input pInputText id="username" [(ngModel)]="nameUser" style="width: 600px; height: 50px;" />
      <label htmlFor="username ">Username</label>
    </span>
  </div>

  <div class="card button-custom-mail">
    <span class="p-float-label">
      <input pInputText id="e-mail" [(ngModel)]="mailUser" style="width: 600px; height: 50px;" />
      <label htmlFor="e-mail">E-mail</label>
    </span>
  </div>

  <div class="card button-custom-msg ">
    <span class="p-float-label">
      <input pInputText id="massage" [(ngModel)]="massage" style="width: 600px; height: 200px; " />
      <label htmlFor="massage " >Massage</label>
    </span>
  </div>

  <div class="card flex justify-content-center box">
    <p-button label="Submit" icon="pi pi-check" iconPos="right" styleClass="p-button-outlined p-button-warning p-button-rounded "></p-button>
  </div>

</div>

<footer>
</footer>
