form-group {
  font-size: 1.6rem;
  max-width: 3.75;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  background-color: #ddd
}

form {
  font-size: 1.6rem;
  max-width: 3.75;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;

}

label {
  font-size: 1.6rem;
  max-width: 3.75;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  table-layout: auto;
}

input {
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  background-color:white;
  table-layout: auto;
}

.container2 {
  margin: 0 auto;
  padding: 0 auto;
  align-content: center;
  text-align: center;
  table-layout: auto;
}

.card{
  text-align: center;
}

thead {
  text-align: center;
}

.table {
  text-align: center;
  margin: 0 auto;
  padding: auto;
}

input {
  margin: 0 auto;
  padding: 0 auto;
  margin-left: 2rem;

}
