<div class="grid">
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold">1</div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">
        <div class="login-container">
          <h2>Login</h2>
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <!-- <input type="text" id="username" [(ngModel)]="username" mail="username" /> -->
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <!-- <input type="password" id="password" [(ngModel)]="password" password="password" /> -->
            </div>
            <button type="submit" pButton label="Login" (click)="login()"></button>
          </form>
        </div>
      </div>
  </div>
  <div class="col">
      <div class="text-center p-3 border-round-sm bg-primary font-bold ">3</div>
  </div>
</div>
