<div class=" grid grid-nogutter surface-section  ml-auto  ">
  <div class="lco-12 md:col-6 p-6 text-center md:text-left flex align-items-center">

    <section>

      <span class="block text-6xl font-bold ml-auto " style="color: #FACA72;">
        Welcome To My Stores
      </span>

      <p class="mt-0 mb-4 ml-auto line-height-3">
        You have a beautiful calendar to decorate your home. or give it to someone special.
      </p>

      <div class="card flex justify-content-center">

        <p-button styleClass="p-button-outlined p-button-warning p-button-rounded " routerLink="/stores">
          <img alt="logo" src="../../../../assets/images/logo_new.png" style=" width: 3.5rem" />
          <span class="ml-3 font-bold-text custom-text-style">Shop</span>
        </p-button>

      </div>

    </section>

  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="../../../../assets/images/Have a nice day2.png" routerLink="/stores" alt="Image"
      class="md:ml-auto block md:h-full" style="clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>
