.custom-button-style {
  background-color: #007bff; /* Change to your desired background color */
  color: #ffffff; /* Change to your desired text color */
  /* Add other custom styles as needed */
}

.custom-text-style {
  color: #FACA72;
  font-size: 200%;
}

.custom-img-style {
  width: 3rem;
}
